:host {
  .welcome-tag {
    max-width: 760px;
    margin-top: 15px;
    padding: 1rem 1.4rem;
    border-radius: 14px;
    color: #1d2d2c;
    font-size: 25px;
    background-color: rgb(223, 255, 196);
  }

  .container {
    background-color: bisque;

    h1 {
      font-size: 62px;
    }

    img {
      width: 150px;
      height: 150px;
    }

    .skill {
      color: rgba(3, 30, 56, 0.7);
      background-color: aqua;

      &:hover {
        color: yellowgreen;
      }
    }
  }
}
