<!-- Go ahead and add your name -->
<div class="container">
  <div class="resume-container">
    <h1> {{ name }}</h1>
    <!-- Add a picture of yourself -->
    <img src="images/jialai.png">
    <h3> Leadership Position </h3>
    <p> My lovely life</p>
    <!-- Leadership, Skills -->
    <ul class="skills">
      @for (skill of skills; track $index) {
        <li> {{ skill }}</li>
      }
    </ul>
  </div>
  <div class="working-experience">
    <h1>Working Experience</h1>
    <!-- The Beginning the user working experince -->
    @for (experience of experiences; track experience.__id) {
      <ul>
        <li>{{ experience.name }}</li>
      </ul>
    }
    <!-- Current User Name-->
    <h1>{{ currentName() }}</h1> 
    @for (experience of cmpm17Student()?.descriptions; track $index) {
      <ul>
        <li>{{ experience }}</li>
      </ul>
    }
  </div>
</div>